<div class="show-main-container">
  <% @list.movies.each do |movie| %>
    <%= render 'show-movie-card', movie: %>
  <% end %>

  <div class="btn btn-primary" data-controller='add-movie-list' data-action="click->add-movie-list#show">Add a movie</div>

  <div class="hide" id='add-movie-container'>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all%>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-flat"%>
  <% end %>
  </div>
</div>
